body {
	margin: 0 18px;
	width: calc(100% - 36px);
	position: absolute;
	left: 0;
	transform: none;
	box-sizing: border-box;
	min-height: 100%;
	padding-bottom: 20vh;
}
#content {
	font-family: "Noto Sans", sans-serif;
	padding: 0 5px;
}
h1, h2, h3, .code-title, .mono, .footnote {
	font-family: "Iosevka Fuck Web", monospace;
}
header {
	border-bottom: 1px solid rgb(var(--fc));
	padding: 5px 10px;
}
.fullbox {
	border: 1px solid rgb(var(--fc));
	padding: 0 10px;
	margin: 0 -5px;
	border-left: none;
	border-right: none;
}
hr {
	border: none;
	margin-left: -10px;
	margin-right: -5px;
	border-bottom: 1px solid rgb(var(--fc));
}
#logo {
	width: 1.4em;
	margin-bottom: -0.4em;
	margin-right: 0.1em;
}
a:hover > #logo > path, a:focus > #logo > path {
	fill: rgb(var(--bc));
}
.head-link {
	text-decoration: none;
}
img {
	width: 100%;
	height: auto;
}
audio {
	width: 100%;
}
img.inline-img {
	width: auto;
	height: 20px;
	margin-bottom: -4.5px;
}
.chatlog tr > th {
	text-align: left;
}
.chatlog tr > th:first-child {
	vertical-align: top;
	text-align: right;
	padding-right: 0.5em;
}
s:focus {
	outline: none;
}
s:hover, s:focus {
	text-decoration: overline;
}
#footnote-preview {
	position: fixed;
	outline: none;
	margin-top: 0;
	padding: 0.35em;
	top: calc(var(--y) - 1.5px - 0.35em);
	left: calc(var(--x) - 1px - 0.35em);
	background-color: rgb(var(--bc));
	border: 1px solid rgb(var(--fc));
}
