@import url(./font/iosevka-fuck.css);
:root {
	font-size: 16px;
	--fg: 0, 0, 0;
	--bg: 255, 255, 255;
}
@media (prefers-color-scheme: dark) {
	:root {
		--fg: 255, 255, 255;
		--bg: 0, 0, 0;
	}
}
body {
	color: rgb(var(--fg));
	background-color: rgb(var(--bg)) !important;
}
body, code, pre {
	font-family: "Iosevka Fuck Web", monospace;
}
h1, h2, h3 {
	margin: 0;
	font-weight: 200;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
}
a {
	color: rgb(var(--fg));
}
a:hover, a:focus {
	color: rgb(var(--bg));
	outline: none;
	background-color: rgb(var(--fg));
}
a.inv-link {
	text-decoration: none;
}
a.inv-link:hover, a.inv-link:focus {
	color: rgb(var(--fg));
	outline: none;
	background: none;
}
a:active {
	color: rgb(var(--fg));
	background: none;
}
.cens {
	background-color: rgb(var(--fg));
}
a:hover .cens, a:focus .cens {
	background-color: rgb(var(--bg));
}
a .cens-js {
	text-decoration: underline;
}
details.inner-arrow > summary {
	list-style: none;
}
details.inner-arrow span.inner-arrow::after {
	content: "▶";
}
details.inner-arrow[open] span.inner-arrow::after {
	content: "▼";
}
