body {
	margin: 0;
}
#cube {
	animation: 1s cubic-bezier(0, 0, 0, 1) 0s 1 normal both running cube-intro;
	position: fixed;
	width: 30vh;
	height: 30vh;
	left: calc(40vw - 36.5vh);
	top: 50%;
	transform: translate(0, -50%) rotateX(60deg) translateZ(-15vh);
	transform-style: preserve-3d;
}
#cube-spin {
	animation: 10s linear -1s infinite normal both running cube-spin;
	transform-style: preserve-3d;
	width: 30vh;
	height: 30vh;
	opacity: 1;
}
@keyframes cube-intro {
	from {
		transform: translateX(-10vw) translate(0, -50%) rotateX(60deg) translateZ(-15vh);
	}
}
@keyframes cube-fade-intro {
	from {
		border: 1vh solid black;
	}
	to {
		border: 1vh solid white;
	}
}
@keyframes text-fade-intro {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes text-intro {
	from {
		left: 30vw;
	}
}
@keyframes cube-spin {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}
.cube-face {
	animation: 1s linear 0s 1 normal both running cube-fade-intro;
	position: absolute;
	box-sizing: border-box;
	transform-style: preserve-3d;
	width: calc(30vh + 1px);
	height: calc(30vh + 1px);
}
.cube-fill {
	position: absolute;
	background-color: black;
	backface-visibility: hidden;
	top: calc(3px - 1vh);
	left: calc(3px - 1vh);
	right: calc(3px - 1vh);
	bottom: calc(3px - 1vh);
	transform: translateZ(calc(3px - 1vh));
}
#logo {
	animation: 1s linear 0s 1 normal both running text-fade-intro;
	position: absolute;
}
#f0 {
	transform: translateY(15vh) translateZ(15vh) rotateX(-90deg);
}
#f1 {
	transform: translateY(-15vh) translateZ(15vh) rotateX(90deg);
}
#f2 {
	transform: translateX(15vh) translateZ(15vh) rotateY(90deg);
}
#f3 {
	transform: translateX(-15vh) translateZ(15vh) rotateY(-90deg);
}
#f4 {
	transform: translateZ(30vh);
}
#content {
	position: absolute;
	animation: 1s cubic-bezier(0, 0, 0, 1) 0s 1 normal both running text-intro, 1s linear 0s 1 normal both running text-fade-intro;
	opacity: 1;
	left: 40vw;
	width: calc(60vw - (40vw - 43vh) - 10px);
	padding: 30vh 5px 5px;
	background-color: #000000ef;
	min-height: 60vh;
}