body {
	animation: 0.4s linear 0s 1 normal both running fade-intro;
	margin: 0;
	min-width: 600px;
	width: 60vw;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	min-height: 100%;
	padding-bottom: 40vh;
}
@keyframes fade-intro {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
#content {
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	padding: 0 5px;
}
h1, h2, h3, .code-title, .mono {
	font-family: "Iosevka Fuck Web", monospace;
}
header {
	border: 1px solid rgb(var(--fg));
	border-top: none;
	padding: 5px;
}
footer {
	border: 1px solid rgb(var(--fg));
	border-bottom: none;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 5px 2em;
}
hr {
	border: none;
	margin-left: -5px;
	margin-right: -5px;
	border-bottom: 1px solid rgb(var(--fg));
}
@media (max-width: 610px) {
	body {
		min-width: 0;
		width: 100%;
		left: 0;
		transform: none;
		border: none;
	}
	#content {
		padding: 0 10px;
	}
	header {
		padding: 5px 10px;
		border-left: none;
		border-right: none;
	}
	footer {
		padding: 0 10px 2em;
		border-left: none;
		border-right: none;
	}
	hr {
		margin-left: -10px;
	}
}
#logo {
	width: 1.4em;
	margin-bottom: -0.4em;
	margin-right: 0.1em;
}
a:hover > #logo > path, a:focus > #logo > path {
	fill: rgb(var(--bg));
}
.head-link {
	text-decoration: none;
}
img {
	width: 100%;
}
figcaption {
	border-bottom: 1px solid rgb(var(--fg));
	padding: 10px 0 5px;
}
.code {
	display: flex;
}
.code > pre {
	margin: 0;
}
.code > :first-child {
	padding: 3px 0.5em;
}
.code > :last-child {
	padding: 2px 5px;
	flex-grow: 1;
	border: 1px solid rgb(var(--fg));
	overflow-x: scroll;
}
.code-title {
	padding-left: calc(1.5em + 1px);
	white-space: pre;
}
code::before {
	content: "〈";
	font-weight: 200;
}
code::after {
	content: "〉";
	font-weight: 200;
}
#top-btn {
	position: absolute;
	bottom: 5px;
	right: 5px;
}
