#cube {
	width: 30vw;
	height: 30vw;
	left: 50vw;
	top: 9vw;
	position: absolute;
	transform: translate(-50%, 0) rotateX(60deg) translateZ(-15vw);
}
#cube-spin {
	width: 30vw;
	height: 30vw;
}
@keyframes cube-intro {
	from {
		transform: translateY(-10vw) translate(-50%, 0) rotateX(60deg) translateZ(-15vw);
	}
}
@keyframes text-intro {
	from {
		transform: translate(0, -10vw);
	}
	to {
		transform: none;
	}
}
.cube-face {
	width: calc(30vw + 1px);
	height: calc(30vw + 1px);
}
.cube-fill {
	transform: translateZ(calc(3px - 1vw));
	width: calc(30vw - 3px);
	height: calc(30vw - 3px);
}
#f0 {
	transform: translateY(15vw) translateZ(15vw) rotateX(-90deg);
}
#f1 {
	transform: translateY(-15vw) translateZ(15vw) rotateX(90deg);
}
#f2 {
	transform: translateX(15vw) translateZ(15vw) rotateY(90deg);
}
#f3 {
	transform: translateX(-15vw) translateZ(15vw) rotateY(-90deg);
}
#f4 {
	transform: translateZ(30vw);
}
#content {
	top: 48vw;
	left: 0;
	padding-top: 0;
	background-color: none;
}
