@import url(./font/iosevka-fuck.css);
:root {
	font-size: 16px;
	--fc: 0, 0, 0;
	--bc: 255, 255, 255;
	--ft: 0;
	--bt: 1;
}
@media (prefers-color-scheme: dark) {
	:root {
		--fc: 255, 255, 255;
		--bc: 0, 0, 0;
		--ft: 1;
		--bt: 0;
	}
}
body {
	color: rgb(var(--fc));
	background-color: rgb(var(--bc)) !important;
}
body, code, pre {
	font-family: "Iosevka Fuck Web", monospace;
}
h1, h2, h3 {
	margin: 0;
	font-weight: 200;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
}
a {
	color: rgb(var(--fc));
}
a:hover, a:focus {
	color: rgb(var(--bc));
	outline: none;
	background-color: rgb(var(--fc));
}
a.inv-link {
	text-decoration: none;
}
a.inv-link:hover, a.inv-link:focus {
	color: rgb(var(--fc));
	outline: none;
	background: none;
}
a:active {
	color: rgb(var(--fc));
	background: none;
}
.cens {
	background-color: rgb(var(--fc));
}
a:hover .cens, a:focus .cens {
	background-color: rgb(var(--bc));
}
.cens-js > span {
	color: transparent;
}
.cens-js::before {
	content: attr(data-c);
	pointer-events: none;
	position: absolute;
}
details.inner-arrow > summary {
	list-style: none;
}
span.inner-arrow {
	cursor: pointer;
}
details.inner-arrow > summary:focus {
	outline: none;
}
span.inner-arrow:hover, details.inner-arrow > summary:focus span.inner-arrow {
	color: rgb(var(--bc));
	background-color: rgb(var(--fc));
}
span.inner-arrow:active {
	color: rgb(var(--fc));
	background: none;
}
span.inner-arrow::before {
	content: "▶";
}
details.inner-arrow[open] span.inner-arrow::before {
	content: "▼";
}
figcaption {
	border-bottom: 1px solid rgb(var(--fc));
	padding: 10px 0 5px;
}
.code {
	display: flex;
}
.code > pre {
	margin: 0;
}
.code > :first-child {
	padding: 3px 0.5em 3px 0;
}
.code > :last-child {
	padding: 2px 5px;
	flex-grow: 1;
	border: 1px solid rgb(var(--fc));
	overflow-x: scroll;
}
.code-title {
	padding-left: calc(0.5em + 6px);
	white-space: pre;
}
code::before {
	content: "〈";
	font-weight: 200;
	font-family: "Iosevka Fuck Web", monospace;
}
code::after {
	content: "〉";
	font-weight: 200;
	font-family: "Iosevka Fuck Web", monospace;
}
.img-pixel {
	image-rendering: crisp-edges;
}
