:root {
  font-size: 16px;
  font-family: "MS Gothic";
  /* font-style: italic; */
  /* font-weight: bold; */
}

body {
  background-color: #000;
}

body > a {
  display: none;
}

.pfp {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50rem;
  height: 25rem;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
}

.pfp > img {
  width: 25rem;
  height: auto;
}

.links {
  justify-content: space-between;
  height: 65%;
  width: 16.5rem;
  align-self: center;
}

.links * {
  color: #fff;
  white-space: nowrap;
  outline: none;
  text-decoration: none;
}

.links .f:focus, .links .f:hover {
  border-left: 1px solid #fff;
  margin-left: -1px;
  /* font-style: italic; */
}

.links a:focus, .flink:focus, .links a:hover, .flink:hover {
  border-left: none;
  margin-left: unset;
  /* font-weight: bold; */
  text-decoration: underline;
}

.flink {
  cursor: pointer;
}

.hflex {
  display: flex;
  flex-direction: row;
}

.vflex {
  display: flex;
  flex-direction: column;
}

#up2 {
  /* display: inline-block; */
  color: transparent;
}

#up2::after {
  position: relative;
  display: inline-block;
  transform: rotate(180deg) translateX(1ch);
  color: white;
  content: "v";
}

.w {
  display: unset !important;
}

@media screen and (max-width: 50rem) {
  .pfp {
    flex-direction: column;
    width: 25rem;
    height: 50rem;
  }
  .links {
    justify-content: unset;
    margin-top: -3.25rem;
  }
  @media (max-height: 50rem) {
    .pfp {
      top: 0;
      transform: translate(-50%, 0);
    }
  }
}

@media screen and (max-height: 25rem) {
  .pfp {
    top: 0;
    transform: translate(-50%, 0);
  }
}

.pd {
  color: transparent;
}

.to {
  display: none;
}
