.pfp-image {
  position: fixed;
  width: 100px;
  bottom: 0;
  right: 0;
}

.pfp-image.combined {
  top: 0;
  left: 0;
}

#pfp-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.blending-normal   {mix-blend-mode: normal;   }
.blending-xor      {mix-blend-mode: exclusion;}
.blending-multiply {mix-blend-mode: multiply; }
.blending-darken   {mix-blend-mode: darken;   }
